
body {
	background-image: url("http://i.imgur.com/ZoAApL4.jpg");
	background-size: 70% 50%;
	background-position: center;
	background-attachment:fixed;
	font-size:100%;
	font-family: 'Open Sans', sans-serif;

}

#wrapper{
	background:black;
	margin-left:15%;
	margin-right:15%;
	border-style: solid;
	border-color:white;
	border-width:1px;
	padding-bottom:10%;
	border-radius: 30px;
	height:100%;
}

#logo {
	margin-left: auto;
	margin-right:auto;
	margin-top: 25px;
	display:block;
	margin-bottom:0px;
	max-width: 100%;
	height:auto;
}

#bar{
	margin-left: auto;
	margin-right:auto;
	margin-top: 50px;
	display:block;
	margin-top:0px;
	padding-top:0px;
	max-width: 100%;
	height:auto;
}

#pizza{
	margin-left: auto;
	margin-right:auto;
	margin-top: 50px;
	margin-bottom:20px;
	display:block;
	margin-top:10px;
	padding-top:0px;
	width:50%;
	
}

#navbar{
	text-align:center;
	color:white;
	word-spacing:50px;
	margin-top:0px;
	font-size:3vw;
	margin-bottom:0px;
}

.info{
	text-align:center;
	color:white;
}

#moto {
	font-size:20px;
}

a {
	color:white;
	text-decoration: none;
}

#header{
	margin-bottom:0px;
	padding-bottom:0px;
	color:white;
	margin-left:15%;
	font-size:100%;
	margin-top:5%;
}

#menu {
	margin-left: auto;
	margin-right:auto;
	margin-top: 50px;
	display:block;
	margin-top:0px;
	padding-top:0px;

}

#about {
	color:white;
	font-size:1.5vw;
	margin-left:30px;
	margin-right:30px;
	text-align:center;
}

#footer {
	text-align:center;
	color:white;
}

a:hover{
	background:red;
}

#leftmenu{
	font-size:2w;
	color:white;
	background-color:#858585;
	width:50%;
	margin-left:25%;
	margin-right:25%;
	margin-bottom: 100px;
	display:inline-block;
}

#rightmenu{
	font-size:2w;
	color:white;
	background-color:#858585;
	width:50%;
	margin-right:25%;
	margin-left:25%;
	margin-bottom: 100px;
	display:inline-block;
}



#bottommenu {
	font-size:2w;
	color:white;
	background-color:#858585;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	display:inline-block;
	text-align:center;
}

dl{
	padding:10px;
}

dd{
	padding-bottom:10px;
}

ul{
	list-style: none
}

@media (min-width: 480px){

#leftmenu{
		font-size:1.5vw;
		color:white;
		width:35%;
		background-color:#858585;
		float:left;
		margin-left:10%;
		margin-right:0px;
		margin-top:50px;
		margin-bottom: 100px;
		display:inline-block;
	}

	#rightmenu{
		font-size:1.5vw;
		color:white;
		width:35%;
		background-color:#858585;
		float:right;
		margin-left:0px;
		margin-right:10%;
		margin-top:50px;
		margin-bottom: 100px;
		display:inline-block;
	}

	#bottommenu{
		font-size:1.5vw;
		color:white;
		background-color:#858585;
		width:80%;
		margin-left:10%;
		margin-right:10%;
		display:inline-block;
	}

}
