body {
	background-image: url("http://i.imgur.com/ZoAApL4.jpg");
	background-size: 70% 50%;
	background-position: center;
	background-attachment:fixed;
	font-size:100%;
	font-family: 'Open Sans', sans-serif;

}

#wrapper{
	margin-top:20%;
	background:black;
	margin-left:10%;
	margin-right:10%;
	border-style: solid;
	border-color:white;
	border-width:1px;
	padding-bottom:10%;
	border-radius: 30px;
}

#logo2 {
	margin-left: auto;
	margin-right:auto;
	margin-top: 25px;
	display:block;
	margin-bottom:0px;
	max-width: 100%;
	height:auto;
}

#bar{
	margin-left: auto;
	margin-right:auto;
	margin-top: 50px;
	display:block;
	margin-top:0px;
	padding-top:0px;
	max-width: 100%;
	height:auto;
}

#pizza{
	margin-left: auto;
	margin-right:auto;
	margin-top: 50px;
	margin-bottom:20px;
	display:block;
	padding-top:0px;
	width:50%;
	
}

.info{
	font-size:1.5vw;
	text-align:center;
	color:white;
}

a {
	color:white;
	text-decoration: none;
}

#about{
	color:white;
	font-size:1.0vw;
	margin-left:30px;
	margin-right:30px;
	text-align:center;
}

#footer{
	text-align:center;
	color:white;
}

#navbar2 > .navlink {
	padding:3px;
	background:red;
	border-radius:10px;
	border-style: solid;
	border-color: white;
	border-width:2.5px;

}

#navbar2 > a:hover{
	background:orange;
	border-radius:10px;
	transition:.5s;
}


#menuinfo{
	font-size:1.5vw;
	color:white;
	text-align:center;
	margin:5%;
	padding:none;

}

.menuheader{
	font-size:3.5vw;
	text-decoration:underline;
	color:white;
	text-align: center;
	margin-bottom:0;
}

#menu-wrapper{
	border-style:solid;
	border-color:white;
	background:url(http://www.morocco-luxury-camps.com/wp-content/uploads/2012/11/paper-background.jpg);
	background-repeat:repeat;
	font-size:1.5vw;
	color:black;
	width:80%;
	background-color:white;
	float:left;
	padding:5%;
	margin-left:5%;
	margin-right:5%;
	margin-top:10px;
	margin-bottom: 20px;
	display:inline-block;
}

#pizzaname {
	color:red;
	text-decoration:underline
}

#vegi{
	color:green;
}

#menuitem{
	background:white;
	border-style: solid;
	margin: 30px;
}

#menuitem:hover{
	color:red;
    transition:.5s;
}

#drinkitem:hover{
	color:red;
    transition:.5s;
}

#dessertitem:hover{
	color:red;
    transition:.5s;
}


#drink-wrapper {
	border-style:solid;
	border-color:white;
	background:url(http://www.morocco-luxury-camps.com/wp-content/uploads/2012/11/paper-background.jpg);
	background-repeat:repeat;
	font-size:1.5vw;
	color:black;
	width:70%;
	background-color:white;
	margin-left:15%;
	margin-right:15%;
	margin-top:10px;
	margin-bottom: 20px;
	display:inline-block;
	text-align: center;
}

#drinkitem{
	text-align:center;
	background:white;
	border-style: solid;
	margin-top: 30px;
	margin-left:35%;
	margin-right:35%;
	margin-bottom:30px;
}


#dessert-wrapper {
	border-style:solid;
	border-color:white;
	background:url(http://www.morocco-luxury-camps.com/wp-content/uploads/2012/11/paper-background.jpg);
	background-repeat:repeat;
	font-size:1.5vw;
	color:black;
	width:70%;
	background-color:white;
	margin-left:15%;
	margin-right:15%;
	margin-top:10px;
	margin-bottom: 20px;
	display:inline-block;
}

#dessertitem{
	text-align:center;
	background:white;
	border-style: solid;
	margin-top: 30px;
	margin-left:35%;
	margin-right:35%;
	margin-bottom:30px;
}

ul {
	padding:0;
	margin:0;
	list-style: none
}
}

dl{
	padding:10px;
}

dd{
	padding-bottom:10px;
}

#navbar2{
	padding:20px;
	color:white;
	position:fixed;
	background-color:black;
	border-style: solid;
	border-color:white;
	height:12%;
	text-align:center;
	word-spacing:25px;
	font-size:2.5vw;
	margin-right:5%;
	margin-left:5%;
	top:0px;
	margin-top:2%;

}
#header{
	font-size:2vw;
}

#logo {
	height:100%;
	width:25%;
	float:left;
	display:block;
	max-width: 100%;
}
