body
{
	background-color: white;
	font-family: 'Oswald', sans-serif;
}

#container
{
    margin: 0 auto;
	width: 80%;
    font-family: 'Oswald', sans-serif;
	font-size: 12pt;

}

#header
{
	background:#fff;
	padding: 5px;
}
#banner
{
	width: 100%;
	height: 15%;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background:#1CAEE8;
    font-family:"Arial", Arial, sans-serif; 
    font-size: 12pt;
    border-radius: 10px;

}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
        padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 5px solid#fff;
}

#navigation li a:hover { background:#fff; 
color:#711414;}

#content
{
	margin-top: 5%
}
#rightSide
{
	float: right;
	width: 50%;
	border-style: solid;
	border-color: black;
	padding: 2%;
	display: inline-block;
	    border-radius: 10px;

}

.checkMark 
{
	width: 10%;
	height: 5%;
}
li 
{
	list-style: none;
}
#pcCheckup
{
	padding: 5%;
	text-align: center;
	background-color: grey;
    border-radius: 10px;

}
#paragraph
{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 1.75em ;
}

#contact
{
	font-family: 'Oswald', sans-serif;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	border-style: solid;
	border-radius:2000px;
	vertical-align: middle;
}

#contact h1 {
	vertical-align: middle;
	line-height: 29px;
	font-size: 2em;
}

.contactPic
{
	width:5%;
	height:5%;
	margin-right: 20px;
}

#email {
	margin-top: 100px;
}

#contactheader{
	font-size:3em;
	color:red;
}


#aboutRight{
	font-size: 1.2em;
	padding-left:40%;
	text-align: center;
	padding-top:5%;
}

#quotes {
	width: 100%;
	margin-top: 10%;
	display: block;
	overflow:hidden;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-size: 1.20em;
}

#quotes p {
	margin-top: 5%;
}
em{
	font-size: 1.25em;
}

#aboutPic{
	float:left;
}


#gamering{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size:1.5em;
}

#gameringpic {
	position: relative;
	text-align: center;
}

#motto{
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 2em;
	color:red;
	display: block;
}

#pricing{
	border-style: solid;
	border-radius: 20px;
	padding:20px;
}

#priceHeader
{
	font-size: 2.5em;
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
	text-decoration: underline;
}

#services
{
	margin-top: 10%;
}




.footer
{
	height: 3%;
	width: 100%;
	background-color: #B5B5B5;
	float: right;
	margin-top: 2%;
	padding: 1%;
    border-radius: 10px;
    float:right;
    margin-bottom: 5%;

}

#footertext
{
	float:right;
}


.slideshow
{ 
	width: 40%;
	margin: 0 auto;
	float:left;
	padding: 0px;
	display:inline-block;
}  
  
/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;
  color:purple;}
 
 #aboutPic {
 	max-width:375px;
 	max-height: 366px;
 	width: 50%;
 }


 .centered{
 	max-width: 284px;
 	margin:auto;
 }

 .col-md-6{
 	margin-left:auto;
 	margin-right:auto;
 	margin-top:20px;
 }

 .col-md-6 ul {
 	padding-left: 0px;
 }

 @media (max-width: 480px) {
 	#container
	{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	}
	#banner {
		height: 100px;
		margin:0px;
	}

	#aboutPic, #gameringpic {
		width: 100%;
	}

	#aboutRight {
		float: none;
		margin-right: 2%;
		padding: 0px;
	}
	#header {
		padding: 0px;
		margin-bottom: -5px;
	}
	#navigation {
		padding: 2px;
	}
	.slideshow{
		width: 100%;
		display: block;
	}
 	#rightSide{
 		margin: auto;
 		width: 90%;
 		display: block;
 	}
	.col-md-6{
		
	}

 	#servicesPic{
 		margin: auto;
 	}
 	#contact {
 		border-color: white;
 	}
 	#contact h1 {
 		margin-top: 15%;
 	}
 	.contactPic {
 		display: none;
 	}

 	#servicesright{
 		float:none;
 	}

 	#servicesleft{
 		float:none;
 	}
 	.col-md-6{
 		margin-top:40px;
 	}
 }