<!doctype html>
<html><head>
    <title>Mike's Help Key</title>
    <link rel="stylesheet" href="main.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' type='text/javascript'></script>
	<script src="svcore/js/services.js"></script>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <style type="text/css"></style></head>
<body>
	
<div id="container">
	<div id="header">
		<img id='banner' src="top2.jpg" border="0">
	</div>
	<div id="navigation">
		<ul>
			<li><a href="home.html">home</a></li>
			<li><a href="about.htm">about</a></li>
			<li><a href="services.htm">services</a></li>
			<li><a href="contact.htm">contact us</a></li>
			<li><a href="gamering.htm">GameRing Room</a></li>
		</ul>
	</div>
	<div id="content">

		<div id='services'>
<div class="row">
	<div class ='col-md-6'>
		<div class = 'centered'>
		<img id='servicesPic' src="services.jpg" border="0">
	</div>
	</div>
		
	 <div class = 'col-md-6'>
	 	<div class = 'centered'>
		<ul>
			<div class="services">
				<script id='services_template'>
				<% for (var i = 0; i < hardware.length; i++) { %>
					<li><%= hardware[i].description %><p></p></li>
				<% } %>
	</script>
			</div>
		</ul>
	</div>
	</div>
</div>
	</div>
	<footer class ='footer'>
		<span id='footertext'>Copyright Mike's Help Key, 2014 </span>
	</footer>
</div>
</body>
</html>